@mixin button-radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin button-background($background-color: $ice-blue) {
  background-color: $background-color;
}

@mixin button-border($border-color: transparent, $thickness: $border-thickness) {
  border: solid $thickness $border-color;
}

@mixin button-inset($inset-color: transparent) {
  box-shadow: inset $box-inset-direction $inset-color;
}

@mixin tab-button {
  height        : 1.5rem;
  margin        : 0;
  color         : $steel-blue;
  text-transform: none;
  max-width     : 100%;
  flex          : 1;
}

@mixin dashed-button {
  border-style  : dashed !important;
  max-width     : 100%;
  text-transform: none;
  font-weight   : 400;
  flex          : 1;
}

@mixin grouped-button($include-radius: true) {
  position     : relative;
  z-index      : $z-index-base * 2;
  margin       : 0 -#{$border-thickness/2};
  border-radius: 0;

  @if $include-radius == true {
    &:first-of-type {
      border-top-left-radius   : $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  
    &:last-of-type {
      border-top-right-radius   : $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &:only-child {
    border-radius: $border-radius;
    margin       : 0;
  }

  &:hover {
    z-index: $z-index-base * 3;
  }
}

@mixin button-gradient($gradient-direction: $cta-gradient-degree,
  $gradient-left: $cta-gradient-left,
  $gradient-right: $cta-gradient-right) {
  @include box-shadow($box-shadow-tint-cta);
  background: linear-gradient($gradient-direction, $gradient-left, $gradient-right);

  &:active,
  &:hover {
    $gradient-left-hover : darken($cta-light-blue, $darken-percentage);
    $gradient-right-hover: darken($cta-blue, $darken-percentage);

    background:
      linear-gradient($gradient-direction,
        $gradient-left-hover $cta-gradient-left-strength,
        $gradient-right-hover $cta-gradient-right-strength);
  }
}

@mixin disabled-button($background-color: $white,
  $border-color: $button-disabled-border-color) {

  &[disabled],
  &:disabled {
    @include button-background($background-color);
    @include box-shadow($ice-blue);
    @include button-border($border-color);
    color  : $button-disabled-text-color;
    cursor : not-allowed;
    opacity: 0.4;

    &:hover {
      color: $button-disabled-text-color;
      @include button-background($background-color);
      @include button-border($border-color);
      @include box-shadow(transparent);
    }
  }
}

@mixin button {
  @include button-radius();
  align-items    : center;
  border-color   : transparent;
  border-style   : initial;
  border-width   : $border-thickness;
  color          : $white;
  cursor         : pointer;
  display        : flex;
  font-size      : calculate-rem(12px);
  font-weight    : $font-weight-semibold;
  height         : calculate-rem(34px + ($border-thickness));
  justify-content: center;
  letter-spacing : 0.075rem;
  line-height    : 1.5;
  margin         : 0 0.5rem 0 0; // this should be updated when reviewing with the design team
  max-width      : 165px;
  min-width      : calculate-rem(34px + ($border-thickness * 2));
  object-fit     : contain;
  padding        : 0 1rem;
  text-align     : center;
  text-shadow    : initial;
  text-transform : uppercase;
  transition     : all $default-transition-time ease;

  &:focus {
    outline: 0;
  }

  &.icon-button {
    padding  : .25rem;
    height   : calculate-rem(34px + ($border-thickness * 2));
    max-width: calculate-rem(34px + ($border-thickness * 2));
  }

  &.round {
    border-radius: 50%;
    padding      : .25rem;
  }

  &:last-of-type {
    margin-right: 0;
  }

  span {
    // accommodates icons
    display     : flex;
    justify-self: space-evenly;
    line-height : 1.5;
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
